<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>About Us</title>
</head>

<body>
    <article>
        <section class="solusi">
            <div class="satu">
                <img src="../assets/img/Logo.png" alt="">
                <h3>Solusi 1</h3>
                <p>Penjelasan Singkat Solusi</p>
            </div>
            <div class="dua">
                <img src="../assets/img/Logo.png" alt="">
                <h3>Solusi 2</h3>
                <p>Penjelasan Singkat Solusi</p>
            </div>
            <div class="tiga">
                <img src="../assets/img/Logo.png" alt="">
                <h3>Solusi 3</h3>
                <p>Penjelasan Singkat Solusi</p>
            </div>
        </section>
        <section class="">

        </section>
    </article>
</body>

</html>