<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>About Us</title>
</head>

<body>
    <article>
        <section class="wrapper-solusi">
            <div class="solusi satu">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 1</h3>
                    <p>Penjelasan Singkat Solusi</p>
                </div>
            </div>
            <div class="solusi dua">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 2</h3>
                    <p>Penjelasan Singkat Solusi</p>
                </div>
            </div>
            <div class="solusi tiga">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 3</h3>
                    <p>Penjelasan Singkat Solusi</p>
                </div>
            </div>
        </section>
        <h2>About Us</h2>
        <section class="latar-belakang">
            <div class="dekorasi">
                <p class="elips1"></p>
                <p class="elips2"></p>
                <img src="../assets/img/about.png" alt="">
            </div>
            <div class="isi-latar-belakang">
                <p>Penjelasan lengkap latar belakang masalah sampai menemukan solusi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam accusantium soluta et officia neque eaque laudantium dignissimos quasi necessitatibus architecto
                    quo, aliquid, ex obcaecati dolore sed illum ut corrupti. lor</p>
            </div>
        </section>
    </article>
</body>

</html>