<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>About Us</title>
</head>

<body>
    <article>
        <section class="wrapper-solusi">
            <div class="solusi satu">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 1</h3>
                    <p>Membantu para pembuat projek untuk dapat merealisasikan idenya melalui pendanaan, baik secara sukarela, maupun dengan return tertentu
                    </p>
                </div>
            </div>
            <div class="solusi dua">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 2</h3>
                    <p>Membantu para pembuat projek untuk mendapatkan validasi dari publik mengenai idenya, baik berupa rating ataupun masukan secara langsung</p>
                </div>
            </div>
            <div class="solusi tiga">
                <div class="content">
                    <img src="../assets/img/Logo.png" alt="">
                    <h3>Solusi 3</h3>
                    <p>Membantu para investor memiliki alternatif yang lebih memudahkan mereka untuk mendapatkan projek yang menarik untuk mereka danai</p>
                </div>
            </div>
        </section>
        <section class="latar-belakang">
            <h2>About Us</h2>
            <p>Di era modern yang semakin maju ini, penggalangan dana untuk menggapai atau merealisasikan mimpi mereka baik sebagai seorang pengusaha atau developer project juga semakin susah untuk didapatkan. Faktor-faktor utama yang menyebabkan terjadinya
                peristiwa ini adalah project atau usaha yang ingin dijalankan tidak dikenal atau tidak memiliki kesempatan untuk menjalani proses pengenalan kepada investor-investor, sponsor, atau penyedia dana lainnya. Maka dari itu, solusi yang bisa
                diterapkan adalah membuat sebuah jembatan dalam kasus ini sebuah aplikasi untuk menjembatani antara penyedia dana dan pengguna aplikasi. Aplikasi ini bersifat universal dan dapat diakses semua orang tanpa terkecuali. Keamanan informasi
                identitas pengguna juga akan dijaga dan hanya dapat dilihat oleh penyedia dana yang diinginkan dan administrasi aplikasi.</p>
        </section>
    </article>
</body>

</html>