<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="../assets/css/feed.css"/>
    <script src="../scripts/feed.js" type="module"></script>
</head>
<body>
    <div class="backgroundIMG"></div>
    <section class="search-tab">
        <img src="../assets/img/feed_exitsearch.png" alt="Exit Search" id="exit-search" class="clickable">
        <div class="search-box">
            <img src="../assets/img/feed_searchlogo.png" alt="Search Logo" id="search-input-logo">
            <input type="search" class="search-input" placeholder="Searching..."></input>
        </div>
        <div class="recent-control">
            <h1 id="recent-heading">Recent</h1>
            <h3 id="clear-all-recent" class="clickable">Clear All</h3>
        </div>
        <div id="recent-searchs">

        </div>
    </section>
    <main class="content-container">
        <section class="left-container">
            <div class="user-container">
                <div class="user-information">
                    <a class="user-profpic wh14" href="../views/profile.html"></a>
                    <h1 class="user-display-name"><a href="../views/profile.html">Display Name</a></h1>
                    <p class="user-username"><a href="../views/profile.html">@username</a></p>
                </div>
                <div class="user-top-side"></div>
            </div>
            <div class="nav-dashboard">
                <ul class="nav-item-container">
                    <li>
                        <a class="nav-item" href="../views/profile.html">
                            <img src="../assets/img/sidenav_profile.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Profile</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/messages.html">
                            <img src="../assets/img/sidenav_messages.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Messages</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/activity.html">
                            <img src="../assets/img/sidenav_activity.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Activity</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/settings.html">
                            <img src="../assets/img/sidenav_settings.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Settings</h1>
                        </a>
                    </li>
                </ul>
                <button class="logout-button"><a href="../views/home.html">Log Out</a></button>
            </div>
        </section>
        <section class="right-container">
            <div class="post-project-section">
                <div class="post-project-container">
                    <a class="user-profpic wh6" href="../views/profile.html"></a>
                    <a class="post-project-button" href="../views/post_project.html">Let's Post a Project</a>
                </div>
                <img src="../assets/img/feed_searchbutton.png" alt="search button" id="search-button" class="clickable">
            </div>
            <ul class="project-nav-container">
                <li class="project-nav-item underlined" id="popular-projects">Popular</li>
                <li class="project-nav-item" id="new-projects">Newest</li>
                <li class="project-nav-item" id="endsoon-projects">Ending Soon</li>
            </ul>
            <div id="projects-container">
                <div class="project">
                    <div class="project-desc-container">
                        <a class="project-title underlined">Project 1</a>
                        <p class="project-desc"> 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-desc-container">
                        <h1 class="project-title underlined">Project 2</h1>
                        <p class="project-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>