<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/home.css"/>
    <script src="../scripts/home.js" type="module"></script>
</head>
<body>
    <div class="backgroundIMG"></div>
    <main class="content-container">
        <div class="left-container">
            <div class="user-container">
                <div class="user-information">
                    <div class="user-profpic wh14"></div>
                    <h1 class="user-display-name">Display Name</h1>
                    <p class="user-username">@username</p>
                </div>
                <div class="user-top-side"></div>
            </div>
            <div class="nav-dashboard">
                <ul class="nav-item-container">
                    <li class="nav-item">
                        <img src="../assets/img/home_profile.png" alt="profile-icon" class="nav-item-icon">
                        <h1 class="nav-item-name">Profile</h1>
                    </li>
                    <li class="nav-item">
                        <img src="../assets/img/home_messages.png" alt="profile-icon" class="nav-item-icon">
                        <h1 class="nav-item-name">Messages</h1>
                    </li>
                    <li class="nav-item">
                        <img src="../assets/img/home_activity.png" alt="profile-icon" class="nav-item-icon">
                        <h1 class="nav-item-name">Activity</h1>
                    </li>
                    <li class="nav-item">
                        <img src="../assets/img/home_settings.png" alt="profile-icon" class="nav-item-icon">
                        <h1 class="nav-item-name">Settings</h1>
                    </li>
                </ul>
                <button class="logout-button">Log Out</button>
            </div>
        </div>
        <div class="right-container">
            <div class="post-project-container">
                <div class="user-profpic wh6"></div>
                <button class="post-project-button">Post a Project</button>
            </div>
            <ul class="project-nav-container">
                <li class="project-nav-item underlined" id="popular-projects">Popular</li>
                <li class="project-nav-item" id="new-projects">Newest</li>
                <li class="project-nav-item" id="endsoon-projects">Ending Soon</li>
            </ul>
            <div id="projects-container">
                <div class="project">
                    <div class="project-desc-container">
                        <h1 class="project-title underlined">Project 1</h1>
                        <p class="project-desc"> 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-desc-container">
                        <h1 class="project-title underlined">Project 2</h1>
                        <p class="project-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>