<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/konfirmasi pembayaran.css">
</head>

<body>
    <div class="judul">
        <div class="left-icon">
            <a href="nominal pembayaran.html" class="arrow"><img src="../assets/img/Arrow_alt_left.png"></a>
        </div>
        <h1>Pembayaran</h1>
    </div>

    <div class="Bank">
        <div class="left-icon2"></div>
        <h1 class="nama_bank">Bank Apalah</h1>
        <div class="nomor_rekening">
            <h2>No. Rekening&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Jumlah yang harus dibayar</h2>
            <h1 class="nomor"> XXXX XXX XXXX X &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RpXX.XXX,00</h1>
        </div>
    </div>
    <h2 class="petunjuk_judul">Mohon ikuti langkah-langkah berikut :</h2>

    <div class="petunjuk">
        <h1 class="pentunjuk_judul2">Petunjuk Bank Apalah</h1>
        <div class="left-icon3"></div>
        <h3></h3>
        <br>
        <div class="left-icon3"></div>
        <h3></h3>
        <br>
        <div class="left-icon3"></div>
        <h3></h3>
        <a href="project_detail.html">
            <button class="button"> OK </button>
        </a>
    </div>
</body>