<!DOCTYPE html>
<html lang="en">

<head>
    <title>Findanziare | Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
</head>

<body>
    <div class="form">
        <h1>Welcome Back!</h1>
        <h2>Username</h2>
        <div class="textbox">
            <input placeholder="" id="username">
        </div>
        <h2>Password</h2>
        <div class="textbox">
            <input placeholder="" id="password">
        </div>
        <div class="forgor">
            <a href="">Forgot Password?</a>
        </div>
        <br>
        <button class="button" onclick="auth()"> Get Login </button>
        <script>
            const fs = require('fs');

            function auth() {
                //storing user input
                var input_username = document.getElementById("username").value;
                var input_password = document.getElementById("password").value;
                //reading the json file
                fetch("../data/datauser.json")
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.username)
                        found = false
                        for (i = 0; i < data.length; i++) {
                            if (input_username == data[i].username && input_password == data[i].password) {
                                found = true
                            }
                        }
                        if (found == false) {
                            window.alert("Username/password salah")
                        } else {
                            const datauser = {
                                username: input_username,
                                password: input_password
                            }
                            activeuser = JSON.stringify(datauser) //ceritanya bakal diwrite ke file JSON baru nanti page profile dll tinggal read dari JSONnya aja
                            location.href = "feed.html" //sesuaikan sama page home
                        }

                    })
            }
        </script>
        <br>
        <a href="register.html">
            <button class="button2"> Create Account </button>
        </a>

    </div>

</body>

</html>