<!DOCTYPE html>
<html lang="en">

<head>
    <title>Findanziare | Feedback</title>
    <link rel="stylesheet" href="../assets/css/masukan.css">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
</head>

<body>
    <form>
        <h1>Beri masukan</h1>
        <div class="textbox">
            <input type="text" placeholder="Masukkan saran/kritik anda...">
        </div>
    </form>
    <a href="../views/project_detail.html">
        <button class="button2"> BATAL </button>
    </a>
    <button class="button" onclick="subMasukan()"> SUBMIT </button>
    <script>
        function subMasukan() {
            location.href = "masukan terkirim.html"
        }
    </script>
</body>

</html>