<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <script src="../scripts/post_project.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findanziare | Profile</title>
</head>
<body>  
    <div class="upimage"></div> 
    <div class="middleimg"></div>
    <div>
        <a href="../views/feed.html">
            <button class="clickable" id="backButton">
                <img src="../assets/img/Arrow_alt_left.png" id="img">
            </button>
        </a>
    </div>
    <main class="content-container">
        <section class="left-container">
            <div class="user-container">
                <div class="user-information">
                    <a class="user-profpic wh14" ></a>
                    <h1 class="user-display-name"><a>Display Name</a></h1>
                    <p class="user-username"><a>@username</a></p>
                </div>
                <div class="user-top-side"></div>
            </div>
        </section>
        <section class="right-container">
            <div class="post-project-section">
                <div class="post-project-container">
                    <a class="user-profpic wh6"></a>
                    <a class="post-project-button" href="../views/message.html">message</a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>