<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/project_detail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findanziare | Post Project</title>
</head>
<body>
    <div class="backgroundIMG"></div>
    <div class="parent">
        <div>
            <a href="../views/feed.html">
                <button class="clickable" id="backButton">
                    <img src="../assets/img/Arrow_alt_left.png" id="img">
                </button>
            </a>
        </div>
        <div class="container"> 
            <div class="head_of_content">
                Project
            </div>
            <div class="project">
                <div class="project_file">
                    {INI ADALAH GAMBAR YA GUYS}
                        <img id="project-image-output"">
                </div>
                <div class="project_name">
                        <div class="input-project-name-box" id="project-name-output">
                            {COBA DULU}
                        </div>
                </div>
            </div>
            <div class="project_detail">
                <div class="project_description">
                    <div class="project_target">
                        <label class="h1">Target Pendanaan&ensp;:</label>
                        <div id="project-target-output">
                            {COBA DULU}
                        </div>
                    </div>
                    <div class="project_about">
                        <label class="h1">Deskripsi Projek&ensp;&ensp;:</label>
                        <div id="project-about-output">
                                {COBA DULU}
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div id="project-category-output">
                        {COBA DULU}
                    </div>
                </div>
            </div>
            <div id="Button">
                <a href="../views/masukan.html" class="clickable" id="project-feedback">
                    BERI MASUKAN
                </a>
                <a href="../views/pembayaran.html" class="clickable" id="project-fund">
                    DANAI PROJECT
                </a>
            </div>
        </div>
    </div>
    <script src="../scripts/""></script>
</body>