<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <div class="form">
        <h1>Welcome</h1>
        <h2>Username</h2>
        <div class="textbox">
            <input type="text" placeholder="">
        </div>
        <h2>Password</h2>
        <div class="textbox">
            <input type="password" placeholder="">
        </div>
        <br>
        <input type="submit" value="Create Account" class="loginbtn">
        <br>
        <div class="forgor">
            <a href="login.html">Have an account?</a>
        </div>
    </div>

</body>

</html>