<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <title>Findanziare | Settings</title>
    <link rel="stylesheet" href="../assets/css/settings.css"/>
</head>
<body>
    <div class="backgroundIMG"></div>
    <main class="content-container">
        <section class="left-container">
            <div class="user-container">
                <div class="user-information">
                    <a class="user-profpic wh14" href="../views/profile.html"></a>
                    <h1 class="user-display-name"><a href="../views/profile.html">Display Name</a></h1>
                    <p class="user-username"><a href="../views/profile.html">@username</a></p>
                </div>
                <div class="user-top-side"></div>
            </div>
            <div class="nav-dashboard">
                <ul class="nav-item-container">
                    <li>
                        <a class="nav-item" href="../views/profile.html">
                            <img src="../assets/img/sidenav_profile.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Profile</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/messages.html">
                            <img src="../assets/img/sidenav_messages.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Messages</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/activity.html">
                            <img src="../assets/img/sidenav_activity.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Activity</h1>
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="../views/settings.html">
                            <img src="../assets/img/sidenav_settings.png" alt="profile-icon" class="nav-item-icon">
                            <h1 class="nav-item-name">Settings</h1>
                        </a>
                    </li>
                </ul>
                <button class="logout-button"><a href="../views/home.html">Log Out</a></button>
            </div>
        </section>
        <section class="right-container">
            <div class="settings-menu-shadow"></div>
            <div class="settings-menu">
                <div class="settings-top">
                    <a class="back-button" href="../views/feed.html"><div class="arrow"></div></a>
                    <div class="line"></div>
                    <h1 class="settings-title">Settings</h1>
                </div>
                <ul class="settings-list">
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Account</h1>
                        </button></a>
                    </li>
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Notifications</h1>
                        </button></a>
                    </li>
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Newsletter</h1>
                        </button></a>
                    </li>
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Display</h1>
                        </button></a>
                    </li>
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Privacy and Safety</h1>
                        </button></a>
                    </li>
                    <li>
                        <a href="../views/settings.html"><button class="settings-item">
                            <h1 class="settings-item-name">Help</h1>
                        </button></a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>