<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../assets/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findanziare | Home</title>
</head>
<body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
               <i class="fas fa-bars"></i>
            </label>
            <label class="logo">FINDANZIARE</label>
            <ul>
                <li><a class="active" href="../views/home.html">Home</a></li>
                <li><a href="../views/help.html">Help</a></li>
                <li><a href="../views/about.html">About Us</a></li>
                <li><a href="../views/login.html">Log In</a></li>
            </ul>
        </nav>
        <section class="wrapper">
            <div id="container">
                <label id="head">
                    A better way to fund your projects.
                </label>
                <p id="contents">
                    Media bantu bagi penggiat bisnis untuk mendapatkan sponsorship maupun investasi.
                </p>
            </div>
            <div class="clickable" id="get-started">
                <a href="../views/register.html" id="get-started-btn">
                    Get Started
                </a>
            </div>
        </section>
</body>
