<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/nominal_pembayaran.css">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <title>Findanziare | Nominal</title>
</head>

<body>
    <div class="First-Ellipse">
        <img src="../assets/img/Ellipse 62.png" class="corner-up-ellipse">
    </div>
    <div class="Second-Ellipse">
        <img src="../assets/img/Ellipse 61.png" class="corner-down-ellipse">
    </div>
    <div class="container">
        <header>
            <a href="project_detail.html" class="arrow-left"><img src="../assets/img/Arrow_alt_left.png"></a>
        </header>
        <div class="logo-container">
            <div class="logo-splash">
                <img src="../assets/img/LINE_ALBUM_Elemen_grafis_220811-removebg-preview 1.png" class="splash">
            </div>
            <div class="logo-picture">
                <img src="../assets/img/output-onlinepngtools (1) 2.png" class="logo">
            </div>
        </div>
        <div class="main-box">
            <div class="content-txt">
                <p>Nominal yang diinginkan</p>
            </div>
            <div class="input-box">
                <input type="text" class="box-input" placeholder="Masukkan nominal yang ingin anda berikan...">
            </div>
            <div class="button-submit">
                <a href="../views/konfirmasi_pembayaran.html" class="button">Lanjutkan pembayaran</a>
            </div>
        </div>
    </div>
</body>

</html>