<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/pembayaran.css">
    <title>Findanziare | Payment</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="left-icon">
                <a href="../views/project_detail.html" class="arrow"><img src="../assets/img/Arrow_alt_left.png"></a>
            </div>
            <div class="right-logo" ">
                <a href="# " class="logo ">Findanziare</a>
            </div>
            <div class="background-circle1 ">
                <img src="../assets/img/Ellipse 62.png " class="circle1 ">
            </div>
        </header>
        <div class="main ">
            <div class="water-splash ">
                <img src="../assets/img/LINE_ALBUM_Elemen_grafis_220811-removebg-preview 1.png " class="splash ">
            </div>
            <div class="findaziare-logo ">
                <img src="../assets/img/output-onlinepngtools (1) 2.png " class="findaziare ">
            </div>
            <div class="main-part ">
                <div class="upper ">
                    <div class="circle-small1 ">
                        <span> </span>
                    </div>
                    <div class="txt-pembayaran ">
                        <span>Pembayaran</span>
                    </div>
                    <div class="circle-small2 ">
                        <span> </span>
                    </div>
                </div>
                <div class="underline ">
    
                </div>
                <div class="txt-second ">
                    <p>Pilih Metode Pembayaran...</p>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="boxes ">
                    <span> </span>
                    <a href="# " class="pointer-right "><img src="../assets/img/Arrow_alt_right.png " alt=" "></a>
                </div>
                <div class="submit-input ">
                    <a href="../views/konfirmasi pembayaran.html" class="submission ">Lanjutkan pembayaran</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="background-circle2 ">
                <img src="../assets/img/Ellipse 61.png " alt=" " class="circle2 ">
            </div>
        </footer>
    </div>
</body>
</html>