<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/img/logo_dark.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <script src="../scripts/post_project.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findanziare | Profile</title>
</head>
<body>  
    <div class="upimage"></div> 
    <div class="middleimg"></div>
    <div>
        <a href="../views/feed.html">
            <button class="clickable" id="backButton">
                <img src="../assets/img/Arrow_alt_left.png" id="img">
            </button>
        </a>
    </div>
</body>

</html>