body {
    width: 100%;
    margin: auto;
}


/* solusi */

.wrapper-solusi {
    padding: 65px 158px;
    margin: auto;
}

.solusi {
    float: left;
}

.content {
    text-align: center;
}

.satu,
.dua,
.tiga {
    width: 33.33%
}

.solusi img {
    width: 115px;
    height: 115px;
}

.solusi h3 {}


/*Latar Belakang*/