/* miriam-libre-regular - latin */
@font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url('../font/miriam-libre-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../font/miriam-libre-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/miriam-libre-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/miriam-libre-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/miriam-libre-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/miriam-libre-v13-latin-regular.svg') format('svg'); /* Legacy iOS */
  }

* {
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Miriam Libre', sans-serif;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

body {
    background-color: #F0EFEA;
}

.clickable {
    cursor: pointer;
}

.backgroundIMG{
    width: 100vw; height: 100vh;
    background-image: url("../img/_background1.png");
    z-index: -1;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-container{
    width: 90vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.left-container{
    width: 30%;
    height: 100%;
    min-width: 300px;
}

.right-container{
    width: 66%;
    height: 100%;
}

/* USER PROFILE STYLING */
.user-container{
    background-color: #D8D8D8;
    min-height: 200px;
    width: 100%; height: 40vh;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
}

.user-top-side{
    width: 100%; height: 32%;
    background-color: #88D4D1;
    position: absolute; top: 0;
}

.user-information{
    z-index: 10; 
    width: 100%; 
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute; top: 15%;
}

.user-profpic{
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    width: 14vh; height: 14vh;
}

.user-profpic:hover{
    cursor: pointer;
}

.wh14{
    width: 14vh; height: 14vh;
}

.wh6{
    width: 8vh; height: 8vh;
}

.user-display-name{
    font-weight: bold;
    color: #00CCD2;
    text-align: center;
    margin-top: 5%;
    font-size: min(5vh,5vw);
}

.user-username{
    font-size: min(2.5vh, 2.5vw);
}

/* NAVIGATION DASHBOARD STYLING */
.nav-dashboard{
    background-color: #D8D8D8;
    width: 100%; height: min(70vh, 70vw);
    margin-bottom: 10vh;
    margin-top: 5vh;

    border-radius: 20px;
    position: relative;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.nav-item-container{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 75%;
    height: 65%;
    margin-top: 15%;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 2.5%;
}

.nav-item:hover{
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.nav-item-icon{
    width: min(7vh,7vw); height: min(7vh,7vw);
}

.nav-item-name{
    font-size: min(4vh,4vw);
}

.logout-button{
    border: none;
    color: #E53939;
    font-size: min(4vh,4vw); font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
}

.logout-button:hover{
    color: #f85f5f;
    cursor: pointer;
}

/* POST A PROJECT SECTION */
.post-project-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.post-project-container{
    width: 85%; height: 12vh;
    background-color: #D8D8D8;
    display: flex; gap: 3%;
    align-items: center;
    padding: 0 5%;
    border-radius: 20px;
    min-width: 650px;
}

.post-project-button{
    color: #f5f5f5;
    background-color: #6DD3CF;
    height: 7vh; width: calc(100% - 3% - 8vh);
    border-radius: 100px;
    border: solid white 0.4vh;
    font-size: min(2.5vh, 2.5vw);
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center; align-items: center;
}

.post-project-button:hover{
    background-color: #6bddd9;
    color: #ffffff;
    cursor: pointer;
}

#search-button{
    width: min(10vh, 10vw); height: min(10vh, 10vw);
}

/* PROJECT NAVIGATION */
.project-nav-container{
    color: #4D5157;
    width: 85%; height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    font-size: min(3.5vh, 3.5vw);
    font-weight: 600;
}

.project-nav-item:hover{
    cursor: pointer;
    color: #676a70;
}

.underlined{
    text-decoration: underline;
}

/*PUBLIC PROJECTS*/
#projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    padding: 6vh 0;

    width: 100%;
    background-color: #D8D8D8;
    border-radius: 30px;
    margin-bottom: 7vh;
}

.project{
    width: 90%; height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #D8F2FF;
    position: relative;

    border-radius: 30px;
    overflow: hidden;
}

.project-desc-container{
    width: 100%; height: 40%;
    background-color: #3F585F;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 5%;
    text-align: justify;

}

.project-title{
    font-size: min(4vh, 4vw);
    font-weight: bold;
}

.project-desc {
    font-size: min(2.5vh, 2.5vw);
}

/* SEARCH FUNCTIONALITY */
#exit-search{
    position: absolute; left: 11%; top: 3%;
    width: min(4vh, 4vw); height: min(4vh, 4vw);
}

.search-tab{
    width: 30%; height: 100vh;
    position: fixed; right: 0;
    z-index: 20;
    background-color: #D8D8D8;
    min-width: 300px;
    padding: 10vh 0;

    display: flex; flex-direction: column;
    align-items: center; gap: 4%;

    display: none;
}

.search-box{
    border: solid white 0.31vh;
    border-radius: 20px;

    width: 85%; height: 6vh;
    padding: 0 4%;

    display: flex; align-items: center;
}

#search-input-logo{
    width: min(4vh, 4vw); height: min(4vh, 4vw);
}

.search-input{
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 4%;
}

.search-input:focus{
    outline: none;
}

.recent-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
}

#recent-heading{
    font-size: min(4vh, 4vw);
    font-weight: bold;
    color: white;
}

#clear-all-recent{
    color: #88D4D1;
    font-size: min(3vh, 3vw);
    font-weight: bold;
}

.shown{
    display: flex;
}

@media only screen and (max-width : 870px) {
    .content-container{
        flex-direction: column;
        align-items: center;
    }

    .left-container{
        width: 90%;
        height: 100%;
    }
    
    .right-container{
        width: 90%;
        height: 100%;
    }

    .post-project-container{
        min-width: 0;
    }

    .project-desc {
        font-size: min(2vh, 2vw);
    }
}