/* miriam-libre-regular - latin */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  src: url('../font/miriam-libre-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/miriam-libre-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/miriam-libre-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/miriam-libre-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/miriam-libre-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/miriam-libre-v13-latin-regular.svg') format('svg'); /* Legacy iOS */
}
body {
  background-color: #4D5157;
}

a {
color: inherit;
text-decoration: inherit; 
}
.upimage{
width: 1804.81px; height: 484.36px; top: 0px; left: 0px;
background-image: url("../img/prof_pic.png");
z-index: -1;
position: fixed;
background-repeat: no-repeat;
}

.clickable {
cursor: pointer;
}

/* button */
#backButton{
border-radius: 100%;
align-items: center;
align-content: center;
background-color: #00ccd2;
border: none;
width: min(8vh,8vw);
height: min(8vh,8vw);
}

.middleimg{
width: 100%; height: 632px; top: 392px; left: 0px;
background-image: url("../img/Rectangleprof.png");
z-index: -1;
position: absolute;
background-size: cover;
background-repeat: no-repeat;
background-color: #D8D8D8;
}