/* miriam-libre-regular - latin */
@font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url('../font/miriam-libre-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../font/miriam-libre-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/miriam-libre-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/miriam-libre-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/miriam-libre-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/miriam-libre-v13-latin-regular.svg') format('svg'); /* Legacy iOS */
  }

* {
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Miriam Libre', sans-serif;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

body {
    background-color: #F0EFEA;
}

.backgroundIMG{
    width: 100vw; height: 100vh;
    background-image: url("../img/_background1.png");
    z-index: -1;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-container{
    width: 90vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.left-container{
    width: 30%;
    height: 100%;
    min-width: 300px;
}

.right-container{
    width: 66%;
    height: 100%;
}

/* USER PROFILE STYLING */
.user-container{
    background-color: #D8D8D8;
    min-height: 200px;
    width: 100%; height: 40vh;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
}

.user-top-side{
    width: 100%; height: 32%;
    background-color: #88D4D1;
    position: absolute; top: 0;
}

.user-information{
    z-index: 10; 
    width: 100%; 
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute; top: 15%;
}

.user-profpic{
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    width: 14vh; height: 14vh;
}

.user-profpic:hover{
    cursor: pointer;
}

.wh14{
    width: 14vh; height: 14vh;
}

.wh6{
    width: 8vh; height: 8vh;
}

.user-display-name{
    font-weight: bold;
    color: #00CCD2;
    text-align: center;
    margin-top: 5%;
    font-size: min(5vh,5vw);
}

.user-display-name:hover{
    cursor: pointer;
}

.user-username{
    font-size: min(2.5vh, 2.5vw);
}

.user-username:hover{
    cursor: pointer;
}

/* SIDE NAVIGATION DASHBOARD STYLING */
.nav-dashboard{
    background-color: #D8D8D8;
    width: 100%; height: min(70vh, 70vw);
    margin-bottom: 10vh;
    margin-top: 5vh;

    border-radius: 20px;
    position: relative;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.nav-item-container{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 75%;
    height: 65%;
    margin-top: 15%;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 2.5%;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-item-icon{
    width: min(7vh,7vw); height: min(7vh,7vw);
}

.nav-item-name{
    font-size: min(4vh,4vw);
}

.logout-button{
    border: none;
    color: #E53939;
    font-size: min(4vh,4vw); font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
}

.logout-button:hover{
    color: #f85f5f;
    cursor: pointer;
}


@media only screen and (max-width : 870px) {
    .content-container{
        flex-direction: column;
        align-items: center;
    }

    .left-container{
        width: 90%;
        height: 100%;
    }
    
    .right-container{
        width: 90%;
        height: 100%;
    }
}